.Home {
  background-image: url('../assets/extFaceGite.jpg');
  background-size: cover;
}

.WelcomeMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: rgba(0, 0, 0, .7);
}

.WelcomeMessage > * {
  color: #fff;
}