.NavBar {
  width: 100%;
  height: initial !important;
  background-color: #fff;
}

.NavBar a {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
  color: #000;
  text-decoration: none;
  transition: opacity .4s ease;
  opacity: .5;
}

.NavBar a:hover {
  opacity: .9;
}