form {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 30px;
}

.MuiFormControl-root-1:not(:last-child) {
  margin-bottom: 20px;
}